<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{satellites.length}}</span></div>
   <div>Space Debris: <span>{{countSatelliteType("Space Debris")}}</span></div>
   <div>Communication: <span>{{countSatelliteType("Communication")}}</span></div>
   <div>Probe: <span>{{countSatelliteType("Probe")}}</span></div>
   <div>Positioning: <span>{{countSatelliteType("Positioning")}}</span></div>
   <div>Space Station: <span>{{countSatelliteType("Space Station")}}</span></div>
   <div>Telescope: <span>{{countSatelliteType("Telescope")}}</span></div>
</div>